<div class="row">
    <% for(var i = 0; i < films.length; i++) { %>
        <div class="col-12 col-md-6 col-lg-4 mt-2 mb-2">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="text-nowrap" style="text-overflow: ellipsis; overflow: hidden"><%= films[i].Title %></h5>
                </div>
                <div class="card-body">
                    <div class="mx-auto mb-4" style="width: 100%; max-width: 150px; height: 225px">
                        <img class="img-fluid" alt="<%= films[i].Title %>" style="object-fit: cover"
                        <% if (films[i].PosterImg !== undefined && films[i].PosterImg.startsWith("http")) { %>
                             src="<%= films[i].PosterImg %>"/>
                        <% } else { %>
                            src="https://image.tmdb.org/t/p/w1280/<%= films[i].PosterImg %>"/>
                        <% } %>
                    </div>
                    <p class="card-text"><%= i18n.__("Duration") %>
                        <%= i18n.__("Minutes") %>
                        : <%= films[i].Duration === 0 || films[i].Duration === "" || films[i].Duration === undefined || films[i].Duration === null ? i18n.__("Undefined") : films[i].Duration %></p>
                    <p class="card-text"><%= i18n.__("ReleaseYear") %>: <%= films[i].Year %></p>
                    <p class="card-text"><%= i18n.__("Rating") %>
                        IMDB: <%= films[i].ImdbRating === 0 || films[i].ImdbRating === "" || films[i].ImdbRating === undefined || films[i].ImdbRating === null ? i18n.__("Undefined") : films[i].ImdbRating %></p>
                    <% if(curLocale === 'ru') { %>
                        <a href="/movie/ru?id=<%= films[i].Id %> %>"
                           <% if(target !== undefined) { %>target="_blank"
                                <% } %>
                           class="btn btn-light w-100"><%= i18n.__("Detailed") %></a>
                    <% } else { %>
                        <a href="/movie?id=<%= films[i].Id %> %>"
                           <% if(target !== undefined) { %>target="_blank"
                                <% } %>
                           class="btn btn-light w-100"><%= i18n.__("Detailed") %></a>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>
