<!DOCTYPE html>
<html lang="<% if(curLocale === 'ua') { %>uk<% } else{ %>ru<% } %>">
<head>
    <meta charset="UTF-8">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            let f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l !== 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-53BZ5VC');</script>
    <!-- End Google Tag Manager -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (pageTitle !== undefined && pageTitle !== null) { %>
        <title>
            <%= pageTitle %>
        </title>
    <% } else { %>
        <title><%= i18n.__("Kinoman") %></title>
    <% } %>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <% if (metaDescription !== undefined && metaDescription !== null) { %>
        <meta name="description" content="<%= metaDescription %>">
    <% } else { %>
        <meta name="description" content="Kinoman">
    <% } %>

    <% if (canonicalLink !== null && canonicalLink !== undefined) { %>
        <link rel="canonical" href="<%= canonicalLink %>"/>
    <% } %>

    <!-- Add Alternates Url -->
    <script>
        alternateLink = document.createElement('link');
        alternateLink.rel = 'alternate';
        if (window.location.href.indexOf("/ru") > -1) {
            alternateLink.href = window.location.href.replace('/ru', '');
            alternateLink.hreflang = "uk"
        } else {
            let url = location.protocol + '//' + location.host + location.pathname;
            alternateLink.href = window.location.href.replace(url, url + '/ru');
            alternateLink.hreflang = "ru"
        }
        document.getElementsByTagName('head')[0].appendChild(alternateLink);
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53BZ5VC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<%- include navbar.ejs %>
