<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% if(curLocale === 'ru') { %>
        <a class="navbar-brand" href="/ru"><%= i18n.__("Kinoman") %></a>
    <% } else{ %>
        <a class="navbar-brand" href="/"><%= i18n.__("Kinoman") %></a>
    <% } %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if (pageName === "comedy") { %>
            <li class="nav-item active">
                <% } else{ %>
            <li class="nav-item">
                <% } %>
                <% if(curLocale === 'ru') { %>
                    <a class="nav-link" href="/comedy/ru"><%= i18n.__("Comedy") %></a>
                <% } else{ %>
                    <a class="nav-link" href="/comedy"><%= i18n.__("Comedy") %></a>
                <% } %>
            </li>
            <% if (pageName === "romantic") { %>
            <li class="nav-item active">
                <% } else{ %>
            <li class="nav-item">
                <% } %>
                <% if(curLocale === 'ru') { %>
                    <a class="nav-link" href="/romantic/ru"><%= i18n.__("Romantic") %></a>
                <% } else{ %>
                    <a class="nav-link" href="/romantic"><%= i18n.__("Romantic") %></a>
                <% } %>
            </li>
            <% if (pageName === "thriller") { %>
            <li class="nav-item active">
                <% } else{ %>
            <li class="nav-item">
                <% } %>
                <% if(curLocale === 'ru') { %>
                    <a class="nav-link" href="/thriller/ru"><%= i18n.__("Thriller") %></a>
                <% } else{ %>
                    <a class="nav-link" href="/thriller"><%= i18n.__("Thriller") %></a>
                <% } %>
            </li>
            <% if (pageName === "zombie") { %>
            <li class="nav-item active">
                <% } else{ %>
            <li class="nav-item">
                <% } %>
                <% if(curLocale === 'ru') { %>
                    <a class="nav-link" href="/zombie/ru"><%= i18n.__("Zombie") %></a>
                <% } else{ %>
                    <a class="nav-link" href="/zombie"><%= i18n.__("Zombie") %></a>
                <% } %>
            </li>
            <% if (pageName === "ukrainian") { %>
            <li class="nav-item active">
                <% } else{ %>
            <li class="nav-item">
                <% } %>
                <% if(curLocale === 'ru') { %>
                    <a class="nav-link" href="/ukrainian/ru"><%= i18n.__("Ukrainian") %></a>
                <% } else{ %>
                    <a class="nav-link" href="/ukrainian"><%= i18n.__("Ukrainian") %></a>
                <% } %>
            </li>
            <% if (pageName === "films") { %>
            <li class="nav-item active">
                <% } else{ %>
            <li class="nav-item">
                <% } %>
                <% if(curLocale === 'ru') { %>
                    <a class="nav-link" href="/films/ru"><%= i18n.__("ByMood") %></a>
                <% } else{ %>
                    <a class="nav-link" href="/films"><%= i18n.__("ByMood") %></a>
                <% } %>
            </li>
        </ul>
        <form id="searchForm" name="searchForm" action="/search" method="get" class="form-inline my-2 my-lg-0">
            <input pattern=".{3,}" required title="мінімум 3 символи" class="form-control mr-sm-2" type="search"
                   name="filmName" placeholder="<%= i18n.__("SomeName") %>" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= i18n.__("Search") %></button>
        </form>
    </div>
    <div class="justify-content-right ml-2">
        <strong>
            <a href="/makeua" <% if(curLocale === 'ua') { %> disabled="disabled" <% } %>>
                <img alt="ukr" src="https://cdn.countryflags.com/thumbs/ukraine/flag-button-square-250.png"
                     height="15px" width="15px"/>
            </a>
            &nbsp;&nbsp;
            <a href="/makeru" <% if(curLocale === 'ru') { %> disabled="disabled" <% } %>>
                <img alt="ua" src="https://cdn.countryflags.com/thumbs/russia/flag-button-square-250.png"
                     height="15px" width="15px"/>
            </a>
        </strong>
    </div>
</nav>

<%- include scripts.ejs %>
