<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <div>
        <% for(var i = 0; i < films.length; i++) { %>
            <% if (i === 0 || i % 3 === 0) { %>
            <div class="row">
                <% } %>
                <div class="col-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-header">
                            <%= films[i].title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= films[i].title_orig %></h5>
                            <p class="card-text">Тривалість
                                (хв): <%= films[i].duration === 0 ? 'невідомо' : films[i].duration %></p>
                            <p class="card-text">Рік випуску: <%= films[i].year %></p>
                            <p class="card-text">Рейтинг
                                IMDB: <%= films[i].imdb_rating === 0 ? 'невідомо' : films[i].imdb_rating %></p>
                            <a href="/movie?id=<%= films[i].id%>%>" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
                <% if (i === films.length - 1 || i % 3 === 2) { %>
            </div>
            <% } %>
        <% } %>
    </div>

    <hr>
    <div>
        <p>Авторство перших кінофільмів комедій належить братам Люм'єр. Піонерами жанру вважаються французи, після них
            естафету перейняли англійці та італійці. Гуморні стрічки і через 130 років з моменту появи в індустрії
            розваг користуються у глядачів незмінною популярністю.
        </p>
        <p>
            Смішне кіно з'явилося разом з кінематографом у кінці XIX століття. Сюжет та ситуації, в які потрапляли герої
            класних фільмів-комедій, наприклад Чарлі Чаплін, були зрозумілі без слів. На зміну німому кіно прийшли
            стрічки зі звуком, а чорно-біле зображення стало кольоровим. Незмінним залишається тільки легкість
            розповіді, незвичайні герої і забавні ситуації з їх життя.
        </p>
        <p>
            Сьогодні популярність веселих картин та актуальність жанру зростає через світові проблем і складнощі життя
            сучасної людини. Сімейні комедії, як і романтичні стрічки з елементами гумору, смішать глядача та
            відволікають від сумних думок.
        </p>
        <p>Гарні веселі фільми представлені наступними комедійними піджанрами:
        </p>
        <ul>
            <li>пародійними, серед яких найбільш відомими є "Голий пістолет", "Цілком таємно", цикл фільмів про Остіна
                Пауерса та інші;
            </li>
            <li>
                жахами з елементами трилера - "Забійні канікули", "Зомбі на ім'я Шон", "Потрапили!";
            </li>
            <li>
                ексцентричними (картинами з елементами гротеску) - "Зведені брати", "У джазі тільки дівчата";
            </li>
            <li>
                музичними - "Mamma Mia", "Веселі хлопці", "Сестро, давай дій";
            </li>
            <li>
                трагікомедією - "Достукатися до небес", "1+1", "Серйозна людина";
            </li>
            <li>
                кримінальними - "Карти, гроші, два ствола", "Великий куш", "Джентельмени удачі".
            </li>
        </ul>
        <p>Смiшне кіно вселяє в глядачів оптимізм і віру у гарне майбутнє. Фільми для підняття настрою допомагають
            подивитися на проблеми з легкістю, адже за темною смугою життя обов'язково настає світла. Кінокомедії
            розвивають почуття гумору та іронії. Їх спільний перегляд згуртовує членів сім'ї, об'єднує друзів та зближує
            закоханих.</p>
    </div>
</div>
</body>
</html>
