<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53BZ5VC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<%- include partials/navbar.ejs %>
<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <h1><%= movie.Title %></h1>
        </div>
        <div class="card-body row">
            <div class="col-12 col-sm-4"><img class="img-fluid" alt="<%= movie.Title %>"
                                              src="https://image.tmdb.org/t/p/w1280/<%= movie.PosterImg %>"/></div>
            <div class="col-12 col-sm-8">
                <p class="card-text">Тривалість
                    (хв): <%= movie.Duration === 0 || movie.Duration === "" || movie.Duration === undefined || movie.Duration === null ? 'невідомо' : movie.Duration %></p>
                <p class="card-text">Рік випуску: <%= movie.Year %></p>
                <p class="card-text">Рейтинг
                    IMDB: <%= movie.ImdbRating === 0 || movie.ImdbRating === "" || movie.ImdbRating === undefined || movie.ImdbRating === null ? 'невідомо' : movie.ImdbRating %></p>
                <p class="card-text">Бюджет
                    $: <%= (!isNaN(movie.Budget) && parseInt(movie.Budget) === 0) || movie.Budget === undefined || movie.Budget === null ? 'невідомо' : `${movie.Budget} млн.` %></p>

                <% if (movie.MegogoId != null) { %>
                    <p class="card-text">
                        <a class="card-text" href="https://megogo.net/ua/view/<%= movie.MegogoId %>.html">
                            Дивитись на MEGOGO
                        </a>
                    </p>
                <% } %>

                <p class="card-text">Жанри:
                    <% for(var i = 0; i < genres.length; i++) { %>
                        <%= genres[i].Name %>
                    <% } %>
                </p>
                <p></p>
                <p class="card-text">Країни:
                    <% for(var i = 0; i < countries.length; i++) { %>
                        <%= countries[i].Name %>
                    <% } %>
                </p>
                <p></p>
                <%- movie.Description %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
