<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <%= movie.Title %>
        </div>
        <div class="card-body row">
            <div class="col-12 col-sm-4"><img class="img-fluid" alt="<%= movie.Title %>"
                                              src="https://image.tmdb.org/t/p/w1280/<%= movie.PosterImg %>"/></div>
            <div class="col-12 col-sm-8">
                <p class="card-text">Тривалість
                    (хв): <%= movie.Duration === 0 ? 'невідомо' : movie.Duration %></p>
                <p class="card-text">Рік випуску: <%= movie.Year %></p>
                <p class="card-text">Рейтинг
                    IMDB: <%= movie.ImdbRating === 0 ? 'невідомо' : movie.ImdbRating %></p>
                <%- movie.Description %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
