<%- include partials/header.ejs %>
<div class="flex-grow-1 container mt-5">
    <div class="card mt-2">
        <div class="card-header">
            <h1><%= movie.Title %></h1>
        </div>
        <div class="card-body row">
            <div class="col-12 col-sm-4"><img class="img-fluid" alt="<%= movie.Title %>"
                <% if(movie.PosterImg !== undefined && movie.PosterImg.startsWith("http")) { %>
                                              src="<%= movie.PosterImg %>"/>
                <% } else { %>
                    src="https://image.tmdb.org/t/p/w1280/<%= movie.PosterImg %>"/>
                <% } %>
            </div>
            <div class="col-12 col-sm-8">
                <p class="card-text"><%= i18n.__("Duration") %>
                    <%= i18n.__("Minutes") %>: <%= movie.Duration === 0 || movie.Duration === "" || movie.Duration === undefined || movie.Duration === null ? i18n.__("Undefined") : movie.Duration %></p>
                <p class="card-text"><%= i18n.__("ReleaseYear") %>: <%= movie.Year %></p>
                <p class="card-text"><%= i18n.__("Rating") %>
                    IMDB: <%= movie.ImdbRating === 0 || movie.ImdbRating === "" || movie.ImdbRating === undefined || movie.ImdbRating === null ? i18n.__("Undefined") : movie.ImdbRating %></p>
                <p class="card-text"><%= i18n.__("Budget") %>
                    $: <%= (!isNaN(movie.Budget) && parseInt(movie.Budget) === 0) || movie.Budget === undefined || movie.Budget === null ? i18n.__("Undefined") : `${movie.Budget} млн.` %></p>

                <% if (movie.MegogoId != null) { %>
                    <p class="card-text">
                        <a class="card-text" href="https://megogo.net/ua/view/<%= movie.MegogoId %>.html">
                            <%= i18n.__("MegogoLook") %>
                        </a>
                    </p>
                <% } %>

                <p class="card-text"><%= i18n.__("Genres") %>:
                    <% for(var i = 0; i < genres.length; i++) { %>
                        <%= genres[i].Name %>
                    <% } %>
                </p>
                <p></p>
                <p class="card-text"><%= i18n.__("Countries") %>:
                    <% for(var i = 0; i < countries.length; i++) { %>
                        <%= countries[i].Name %>
                    <% } %>
                </p>
                <p></p>
                <%- movie.Description %>
            </div>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>
