<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <div>
        <% for(var i = 0; i < films.length; i++) { %>
            <% if (i === 0 || i % 3 === 0) { %>
            <div class="row">
                <% } %>
                <div class="col-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-header">
                            <%= films[i].title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= films[i].title_orig %></h5>
                            <p class="card-text">Тривалість
                                (хв): <%= films[i].duration === 0 ? 'невідомо' : films[i].duration %></p>
                            <p class="card-text">Рік випуску: <%= films[i].year %></p>
                            <p class="card-text">Рейтинг
                                IMDB: <%= films[i].imdb_rating === 0 ? 'невідомо' : films[i].imdb_rating %></p>
                            <a href="/movie?id=<%= films[i].id%>%>" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
                <% if (i === films.length - 1 || i % 3 === 2) { %>
            </div>
            <% } %>
        <% } %>
    </div>

    <hr>
    <div>
        <p>Кіно про любов протягом багатьох років підкорює серця жінок і чоловіків, адже в його сюжеті розкривається
            дивовижна історія кохання між двома людьми. Все любовне кіно насичене безліччю переживань, романтичними
            почуттями, а часом навіть трагічними сценами. Як правило, кіно про любов володіє сильним емоційним
            згущенням, гостротою інтриги і нестандартною поведінкою стереотипів, що дозволяє глядачеві від початку до
            кінця переживати за долю головних героїв в очікуванні бажаного щасливого кінця.
        </p>
        <p><b>Яке воно кіно про любов?
            </b></p>
        <p>
            Романтичне кіно займає значну частину сучасного кінематографа, що свідчить про його популярність. Варто
            зазначити, що для представниць прекрасної статі кіно про любов до сліз є цікавішим за фантастику, бойовики і
            навіть комедій. Наприклад, таке гарне кіно про любов як «Привид» високо цінується глядачами донині, адже
            воно змушує тремтіти їх серця.
        </p>
        <p>
            В кіно про любов 2020 року, 2019, 2018, а також фільмів ХХ століття в сюжеті спостерігається контраст добра
            і зла, любові та ненависті, що безсумнівно є спільним компонентом у всіх стрічках. Кіно про село і любов,
            відносини в великому місті або ж службовий роман, завжди розгортаються в схематично поданому контексті, з
            тонко розробленим характером героїв. Крім того, часто кіно про любов до сліз йде в супроводі зворушливих
            музичних композицій, мелодії яких здатні зворушити кожного.
        </p>
    </div>
</div>
</body>
</html>
