<%- include partials/header.ejs %>
<div class="container">

    <h1><%= i18n.__("SearchResults") %>"<%= searchQuery %>"
    </h1>
    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>

    <hr>
</div>
<%- include partials/footer.ejs %>
