<%- include partials/header.ejs %>
<script>
    $(document).ready(function () {
        $('#searchPls').on('click', function () {
            let genre = $('#selectGenre').find(":selected").val();
            console.log("genre " + genre);
            let country = $('#selectCountry').find(":selected").val();
            console.log("country " + country);
            let mood = $('#selectMood').find(":selected").val();
            console.log("mood " + mood);
            let yearMin = $('#yearMin').val();
            console.log("yearMin " + yearMin);
            let yearMax = $('#yearMax').val();
            console.log("yearMax " + yearMax);
            let ratingMin = $('#ratingMin').val();
            console.log("ratingMin " + ratingMin);
            $.ajax({
                url: `/selection?genre=${genre}&country=${country}&mood=${mood}&yearMin=${yearMin}&yearMax=${yearMax}&ratingMin=${ratingMin}`,
                success: function (result) {
                    $('.searchResult').html(result);
                }
            });
        });
    });
</script>

<div class="flex-grow-1 container mt-5">
    <h1><%= i18n.__("ChooseFilm") %></h1>
    <form class="mt-5">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="yearMin"><%= i18n.__("YearFrom") %></label>
                <input type="number" class="form-control" id="yearMin" name="yearMin" min="1900" max="2020"
                       placeholder="<%= i18n.__("YearFrom") %>">
            </div>
            <div class="form-group col-md-4">
                <label for="yearMax"><%= i18n.__("YearTo") %></label>
                <input type="number" class="form-control" id="yearMax" name="yearMax" min="1900" max="2020"
                       placeholder="<%= i18n.__("YearTo") %>">
            </div>
            <div class="form-group col-md-4">
                <label for="ratingMin"><%= i18n.__("MinRating") %></label>
                <input type="number" class="form-control" id="ratingMin" name="ratingMin" min="0" max="10"
                       placeholder="<%= i18n.__("MinRating") %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState"><%= i18n.__("Genre") %></label>
                <select id="selectGenre" class="form-control">
                    <option name="genre" value="" selected>
                        <%= i18n.__("NotChosen") %>
                    </option>
                    <% for (var i = 0; i < genres.length; i++) { %>
                        <option name="genre" value="<%= genres[i].Id %>"> 
                            <%= genres[i].Name %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState"><%= i18n.__("Country") %></label>
                <select id="selectCountry" class="form-control">
                    <option name="country" value="" selected>
                        <%= i18n.__("NotChosen") %>
                    </option>
                    <% for (var i = 0; i < countries.length; i++) { %>
                        <option name="country" value="<%= countries[i].Id %>"> 
                            <%= countries[i].Name %>
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState"><%= i18n.__("CurMood") %></label>
                <select id="selectMood" class="form-control">
                    <option name="mood" value="" selected>
                        <%= i18n.__("NotChosen") %>
                    </option>
                    <% for (var i = 0; i < moods.length; i++) { %>
                        <option name="mood" value="<%= moods[i].Name %>"> 
                            <%= moods[i].Name %>
                        </option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="button" id="searchPls"
                    class="btn btn-outline-success mb-2"><%= i18n.__("SearchAnother") %></button>
        </div>
    </form>
    <div class="searchResult">
    </div>
</div>
<%- include partials/footer.ejs %>
