<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <div>
        <% for(var i = 0; i < films.length; i++) { %>
            <% if (i === 0 || i % 3 === 0) { %>
            <div class="row">
                <% } %>
                <div class="col-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-header">
                            <%= films[i].title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= films[i].title_orig %></h5>
                            <p class="card-text">Тривалість
                                (хв): <%= films[i].duration === 0 ? 'невідомо' : films[i].duration %></p>
                            <p class="card-text">Рік випуску: <%= films[i].year %></p>
                            <p class="card-text">Рейтинг
                                IMDB: <%= films[i].imdb_rating === 0 ? 'невідомо' : films[i].imdb_rating %></p>
                            <a href="/movie?id=<%= films[i].id%>%>" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
                <% if (i === films.length - 1 || i % 3 === 2) { %>
            </div>
            <% } %>
        <% } %>
    </div>

    <hr>
    <div>
        <p>
            У світі коноіндустрії бойовики займають важливе місце серед інших фільмів. Особливiстю жанра є сюжет, у
            центрі якого стоять перестрілки, бiйки та гонитва. У фільмах про війну чи боротьбу досить часто грають
            визнані зiрки світового кінематографа. Їх брутальність і майстерність перевтілення переконують глядачів у
            неминучій перемозі добра над злом.
        </p>
        <p><b>Популярнiсть у кiно бойовикiв
            </b></p>
        <p>
            В екшн-фiльмах зустрічається безліч дорогих спецефектів та каскадерских трюків. Цим, як і участю Джекі Чана,
            Шварценеггера, Брюса Лі або Сильвестра Сталлоне, пояснюється значний бюджет картин. До напису сценарію та
            режисерської постановки залучають визнаних майстрів кіноіндустрії. У результаті чого популярні бойовики
            приносять великі гроші своїм творцям, масу задоволення та позитивних емоцій - глядачам.
        </p>
        <p>
            Користуються успіхом як кiна 2018 р., так i бойовики, зняті у минулому столітті. Основоположником жанру
            вважають картини про Джеймса Бонда, перша з яких побачила світ у далекому 1962 р. Більше того, Бондіана
            заклала основи цiлого напрямку кіноіндустрії.
        </p>
        <p>
            Динамічний екшн - улюблений жанр сильної половини людства. Перегляд чоловіками подібних фiльмiв сприяє викид
            адреналіну, дозволяє, нехай і віртуально, реалізувати властиві їх натурі риси: мужність, цілеспрямованість,
            рішучість і відвагу. Серед жінок популярні бойовики американські або європейські. Вони цінують екшн за
            тонкий гумор, філософську та ліричну складові. Жінкам подобаються головні герої картин - переможці, бунтарі
            та борці за справедливість.
        </p>
        <p>
            Сьогоднi бойовики у чистому вигляді зустрічаються рідко. В екшен можна знайти елементи жанрів фентезі,
            комедії та кримінальної драми. Це сприяє збільшенню аудиторії і кількості фанатів бойовиків серед глядачів з
            усього світу.
        </p>
    </div>
</div>
</body>
</html>
