<%- include partials/header.ejs %>
<div class="flex-grow-1 container mt-5">

    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>

    <%- include partials/pagList.ejs %>

    <hr>
    <div>
        <%- articleContent %>
    </div>
</div>
<%- include partials/footer.ejs %>
