<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <div>
        <% for(var i = 0; i < films.length; i++) { %>
            <% if (i === 0 || i % 3 === 0) { %>
            <div class="row">
                <% } %>
                <div class="col-4">
                    <div class="card mt-2 mb-2">
                        <div class="card-header">
                            <%= films[i].title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= films[i].title_orig %></h5>
                            <p class="card-text">Тривалість
                                (хв): <%= films[i].duration === 0 ? 'невідомо' : films[i].duration %></p>
                            <p class="card-text">Рік випуску: <%= films[i].year %></p>
                            <p class="card-text">Рейтинг
                                IMDB: <%= films[i].imdb_rating === 0 ? 'невідомо' : films[i].imdb_rating %></p>
                            <a href="/movie?id=<%= films[i].id%>%>" class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>
                <% if (i === films.length - 1 || i % 3 === 2) { %>
            </div>
            <% } %>
        <% } %>
    </div>

    <hr>
    <div>
        <p>
            З моменту зародження українського кіно пройшло вже більше 100 років, протягом яких воно не припиняло
            розвиватися незважаючи на труднощі, що зустрічалися на його шляху. На відміну від зарубіжних стрічок,
            українське кіно в безлічі сюжетах демонструє масовому глядачеві те, що близько простому народу. Його головні
            герої це звичайні робітники, студенти і домогосподарки, схожість з якими кожен знайде без зайвих зусиль.
        </p>
        <p><b>Українське кіно: від початку заснування до сьогодення</b></p>
        <p>Історія українського кіно бере свій початок в 1911 році, коли був представлений перший український фільм
            «Запорізька Січ», створений Данилом Сахненко. Приблизно в той же час представники вітчизняного кінематографа
            екранізували такі українські вистави як: «Наталка Полтавка», «Москаль-чарівник» і служниця. У 1919 році кіно
            по Україні що ще знімається, або вже вийшло в прокати перейшло в розряд радянського. Через три роки (1922 р)
            в країні почала роботу київська кінофабрика, яка з часом була перероблена в «Київську кіностудію Довженка»,
            де він створив стрічки «Ягідка кохання» і «Сумка Діпкур'єра».
        </p>
        <p>
            За часів тоталітаризму 30-х років актори українського кіно, як і його режисери страждали від державних
            указів на те, що саме повинні містити картини. На 1950-60 роки поряд із загальною «відлигою» приходить і
            поліпшення в кіноіндустрію. Збільшується число режисерів, в студії вперше приходять українські актори кіно
            чоловіки і жінки пам'ять про яких донині зберігається в серцях глядачів (Катерина Литвиненко - «Доля
            Марини», Костя Руссу - «Андрієш» і інші).
        </p>
        <p>
            Сучасне українське кіно проходить період активного розвитку. Багато в чому це обумовлено тим, що українське
            кіно 2018, 2019 і 2020 активно фінансується державою, яка не тільки підтримує безліч кінокомпаній країни, а
            й безустанно налагоджує зв'язок з міжнародними партнерами. Не менший внесок у державне кіно зробили і
            українські актори, такі як Богдан Ступка, за плечима якого понад 100 кінострічок, Станіслав Боклан, що
            активно бере участь в сучасних кінострічках, та інші.
        </p>
    </div>
</div>
</body>
</html>
